/.elfeed.el
/.agenda_files
*~
/elpa/
/server/
/transient/
/.secret.el
/bookmarks
/config.el
/custom.el
/.secret-init.el
/.last-package-update-day
/recentf
/org-persist/
/url/
/.org-id-locations
/mastodon.plstore
/emojis/
/.secret/
session.*
/projects
/persist/
/emms/
/eln-cache/
/tramp
