;;; -*- mode: Lisp; -*-

;; secret.el example

;; rclone-org pathes
(setq rclone-path "rclone")
(setq rclone-log-path "~/org_sync/logs/org.log")
(setq rclone-filter-path "~/org_sync/filters/org")
(setq rclone-local-path "~/org/")
(setq rclone-remote-path "db:org")
(setq rclone-remote-backup "db:backup/org/")
(setq rclone-local-backup "~/org_sync/backup")

;; markdown
(setq markdown-command "multimarkdown")

;; mastodon username / instance
(setq mastodon-active-user "username")
(setq mastodon-instance-url "https://example.com")

;; run function at elfeed config
(defun elfeed-afterconf ()
  "late secret configuration"
  (interactive)

  ;; define tag faces
  (defface elfeed-example-tag
    '((t :foreground "#78a2b7"))
    "color for example tag in elfeed")

  (push '(example elfeed-example-tag)
	elfeed-search-face-alist))

;; run function at end of file
(defun secret-afterconf ()
  "late secret configuration"
  (interactive)
  ;; windows-rus shell encoding
  ;;run function on windows machine with shell encoding problems
  (windows-shell-encoding-config))
